* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(70, 142, 236);
}

header {
    text-align: center;
    padding-block: 1.5em;
    font-size: 1.1em;
    color: white;
}

section {
    background-color: white;
    text-align: center;
    margin-inline: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.253);
}

p {
    padding: 15px;
    padding-bottom: 0%;
}

.botao {
    background-color: rgb(70, 142, 236);
    border: 1px solid rgba(0, 0, 0, 0.452);
    padding: 1px 3px;
    color: white;
}

.botao:hover {
    background-color: rgba(70, 142, 236, 0.5);
}

#flista {
    width: 150px;
    margin: 10px 10px 15px;
}

#res {
    padding: 20px;
    text-align: justify;
    font-weight: bold;
}

footer {
    color: white;
    text-align: center;
}
