* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(70, 142, 236);
}

header {
    text-align: center;
    padding-block: 1.5em;
    font-size: 1.1em;
    color: white;
}

section {
    background-color: white;
    text-align: center;
    margin-inline: auto;
    max-width: 500px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.253);
}

footer {
    color: white;
    text-align: center;
}
